.pieces
{
    width: 60%;
    height: 400px;
    margin: 0 auto;
}

.piece img, .piece-grid img
{
    width: 100px;
    vertical-align: baseline;
}

.piece
{
    float: left;
    position: relative;
    margin-right: 3px;
}

.grid
{
    height: 334px;
    width: 500px;
    background-color: #804515;
    margin: 30px auto;
}

.piece-grid
{
    width: 100px;
    height: 67px;
    border: 1px solid #552700;
    float: left;
    text-align: center;
    color: white;
    line-height: 67px;
}

.story
{
    background-color: #d4996a;
    font-size: 14px;
    padding: 5px;
    font-style: italic;
    border: 1px solid black;
}