.boton_1{
    text-decoration: none;
    padding: 0PX 30PX;
    font-weight: 400;
    font-size: 50px;
    font-style: italic;
    background-color: #552700;
    border-radius: 15px;
    border: 3px double white;
    width: 100px;
  }
.col-md-4{
	padding-top: 40px;
	padding-left: 150px;
}
.text{
	margin-top: 50px;
	margin-left: 120px;
}
.hidden{
    visibility: hidden;
}
.texto{
    font-family: taibaijan;
    font-size: large;
}
body{
    background: #aa6c39;
}
.inicio{
  position: absolute;
  width: 150px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  cursor: pointer;
}
.retro{
 background-color: #2b4b6f;
 font-family: taibaijan;
 cursor: pointer;
}
.enviar{
     background-color: #2b4b6f;
     font-family: taibaijan;
     cursor: pointer;
}
.text{
    background: #552700;
}