.register_form
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 30px;
    color: white;
    background-color: #552700;
    margin: 10px auto;
    box-shadow: 2px 2px #804515;
}