@font-face{
    font-family: arabian;
    src: url('../../fonts/Taibaijan.otf');
}

html, body
{
    background-color:#aa6c39;
    min-width: 100%;
    min-height: 100%;
    font-size: 30px;
    font-family: arabian;
    color: white;
}

.canvas
{
    position: relative;
    min-height: 650px;
}


.header
{
    width: 100%;
    height: 75px;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    background: #2b4b6f;
    position: fixed;
    z-index: 1030;
    font-size: 30px;
    line-height: 75px;
    -webkit-box-shadow: rgba(0,0,0,0.6) 0px 4px 3px;
    box-shadow: rgba(0,0,0,0.6) 0px 4px 3px; 
}

.header .container
{
    height: 100%;
    padding: 12px 30px;
    color: rgba(255,255,255,0.67);
    font-weight: 300;
}

.header .container .sub-nav
{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    height: 38px;
    line-height: 38px;
    float: right;
}

nav
{
    background-color: #2b4b6f;
}

.header .container .sub-nav li
{
    margin: 0px 10px;
    float: right;
    display: inline;
    position: relative;
}

.header .navbar .navbar-nav li a
{
    line-height: 10px;
    padding: 21px 18px 20px 18px;
    font-weight: 500;
    color: rgba(255,255,255,0.67);
}

.header .container .sub-nav li a
{
    font-weight: 500;
    color: rgba(255,255,255,0.67);
}

.header .navbar .navbar-nav li a:hover, .header .container .sub-nav li a:hover
{
    color: rgba(255,255,255,1);
    background-color: inherit;
}

.header .navbar .navbar-nav li a:focus
{
    background-color: inherit;
}
.navbar-toggle .icon-bar
{
    background-color: rgba(255,255,255,1);
}

.navbar-toggle
{
    border-color:  rgba(255,255,255,1);
}

.content
{
    padding-top:75px;
    min-height: 500px;
}

#menu
{
    float: left;
}

.footer
{
    background-color:black;
    margin-top: 40px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-family: Roboto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.producte_estrella
{
    min-height: 400px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.producte_estrella img
{
    opacity: 0.5;
    width: 100%;
}

.producte_estrella_content
{
    position: absolute;
    background: rgba(0,0,0, 0.7);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 60%;
    padding: 10px;
}

.panel
{
    border-color: #552700;
    -webkit-box-shadow: rgba(0,0,0,0.6) 1px 2px 2px;
    box-shadow: rgba(0,0,0,0.6) 1px 2px 2px; 
    font-size: 20px;
}

.panel-landing
{
    background-color:#804515;
}

.panel-body
{
    background-color: #d4996a;
}

.widget
{

}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #2b4b6f;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.btn-primary
{
    background-color: #804515;
    border-color: black;
}

.sidebar
{
    background-color: #552700;
    padding-top: 75px;
    padding-right: 30px;
    height: 100%;
    position: fixed;
    left: 0;
}

.sidebar_header
{
    text-align: center;
    margin-bottom: 5px;
}

.sidebar_menu
{
    font-size: 20px;
}

.sidebar_menu ul
{
    list-style: none;
    text-decoration: none;
}

.glyphicon
{
    font-size: 20px;
}

.content
{
    margin-bottom: 30px;
}